.timelineContainer {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timelineContainer::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #e5e5e5;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timelineItem {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
}

.timelineContent {
  position: relative;
  border-radius: 6px;
}

.iconContainer {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -67px;
  top: 15px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.left .iconContainer {
  right: -67px;
}

.right .iconContainer {
  left: -67px;
}

@media screen and (max-width: 600px) {
  .timelineContainer::after {
    left: 31px;
  }
  
  .timelineItem {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .timelineItem::before {
    left: 60px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  .iconContainer {
    left: -36px !important;
    top: 15px;
    width: 30px;
    height: 30px;
  }

  .iconContainer svg {
    width: 15px;
    height: 15px;
  }

  .timelineContent {
    padding-top: 15px;
  }
}